<a href="https://colab.research.google.com/github/joyloruth/Cardiovascular-Failure-Predictor/blob/master/Data_Cleaning_Heart_Failure_Indicator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Cleaning**

## **Import Python Libraries**

In [84]:
import pandas as pd

## **Load Raw Dataset**

In [85]:
heart = pd.read_csv('/content/raw_heart_failure_dataset.csv')

## **Exploring Raw Dataset**

### **Preview of Datatypes**

In [86]:
heart.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

### **Preview of Data Head**

In [87]:
heart.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

### **Preview of Data Tail**

In [88]:
heart.tail()

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[5 rows x 13 columns]

### **Find missing values dataset**
*  There are no missing values found

In [89]:
heart.isnull()

       age  anaemia  creatinine_phosphokinase  ...  smoking   time  DEATH_EVENT
0    False    False                     False  ...    False  False        False
1    False    False                     False  ...    False  False        False
2    False    False                     False  ...    False  False        False
3    False    False                     False  ...    False  False        False
4    False    False                     False  ...    False  False        False
..     ...      ...                       ...  ...      ...    ...          ...
294  False    False                     False  ...    False  False        False
295  False    False                     False  ...    False  False        False
296  False    False                     False  ...    False  False        False
297  False    False                     False  ...    False  False        False
298  False    False                     False  ...    False  False        False

[299 rows x 13 columns]

# **Renaming Columns**

### **Original Column Names**

In [90]:
heart.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

### **New Column Names**

In [91]:
new_columns = ['age', 'anemic', 'creatinine_phosphokinase_level', 'diabetic',
       'ejection_fraction', 'hypertensive', 'platelets',
       'serum_creatinine_level', 'serum_sodium_level', 'sex', 'smoker', 'interim',
       'deceased']

In [92]:
heart.columns = new_columns

### **Assign new column names to original dataframe**

In [93]:
heart.columns

Index(['age', 'anemic', 'creatinine_phosphokinase_level', 'diabetic',
       'ejection_fraction', 'hypertensive', 'platelets',
       'serum_creatinine_level', 'serum_sodium_level', 'sex', 'smoker',
       'interim', 'deceased'],
      dtype='object')

# **Reorder Columns**

### **Original Column Order**

In [94]:
reorder_columns = ['age','sex','diabetic','anemic','hypertensive','smoker','creatinine_phosphokinase_level', 
                   'serum_creatinine_level', 'serum_sodium_level','ejection_fraction', 'platelets','interim', 'deceased']

### **Assign new column order to orginal dataframe**

In [95]:
heart = heart[reorder_columns]

### **New Order of New Column Names Preview**

In [96]:
heart.head()

    age  sex  diabetic  anemic  ...  ejection_fraction  platelets  interim  deceased
0  75.0    1         0       0  ...                 20  265000.00        4         1
1  55.0    1         0       0  ...                 38  263358.03        6         1
2  65.0    1         0       0  ...                 20  162000.00        7         1
3  50.0    1         0       1  ...                 20  210000.00        7         1
4  65.0    0         1       1  ...                 20  327000.00        8         1

[5 rows x 13 columns]

In [97]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             299 non-null    float64
 1   sex                             299 non-null    int64
 2   diabetic                        299 non-null    int64
 3   anemic                          299 non-null    int64
 4   hypertensive                    299 non-null    int64
 5   smoker                          299 non-null    int64
 6   creatinine_phosphokinase_level  299 non-null    int64
 7   serum_creatinine_level          299 non-null    float64
 8   serum_sodium_level              299 non-null    int64
 9   ejection_fraction               299 non-null    int64
 10  platelets                       299 non-null    float64
 11  interim                         299 non-null    int64
 12  deceased                        299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [103]:
heart.to_csv('/content/cleaned_heart_failure_dataset.csv')